certifi==2026.6.17
GeoAlchemy2==0.20.0
geopandas==1.1.4
numpy==2.5.0
packaging==26.2
pandas==3.0.3
pillow==12.2.0
psycopg2-binary==2.9.12
pyarrow==23.0.1
pymupdf==1.28.0
pyogrio==0.13.0
pypdf==6.14.2
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
shapely==2.1.2
six==1.17.0
SQLAlchemy==2.0.51
typing_extensions==4.16.0
